<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Device Demo Application</h1>
        <div class="section editor">
            <input id="device_id" type="hidden" value="" />
            <label for="manufacturer">Manufacturer
                <input id="manufacturer" type="text" />
            </label>
            <br />
            <label for="model_num">Model #
                <input id="model_num" type="text" />
            </label>
            <br />
            <label for="device_type">Device Type
                <input id="device_type" type="text" />
            </label>
            <br />
            <label for="device_config_id">Device Configuration ID
                <input id="device_config_id" type="text" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="devices">
            <table>
                <caption>Devices</caption>
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Model #</th>
                        <th>Device Type</th>
                        <th>RC ID</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>